html {
    background-color: #584ea8;
}

html,
app-root,
body {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}


body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #a88bc3;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #4d3f5a;
}