/* Global Styles */
$primary-color: #463b98;
$secondary-color: #a88bc3;
$light-color: #f7f7f7;
$dark-color: #333;
$transition-time: 0.5s;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: $light-color;
  color: $dark-color;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: $primary-color;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  color: white;
  background-size: 300% 300%;
  background-repeat: no-repeat;
  animation: gradientAnimation 12s ease infinite;
}

.flipped {
  transform: rotateY(180deg);
}

h1 {
  color: white;
  text-shadow: 
    1px 1px 2px black, 
    0 0 25px rgb(116, 12, 213), 
    0 0 5px darkblue;
}

@media (max-width: 650px) {
  .card {
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
  }

  .card-front {
    background-image: url(../../../assets/css-king.png) !important; 
  }
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 630px;
  height: 250px;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: transform $transition-time ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-side {
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}

.card-front {
  // background: linear-gradient(45deg, $primary-color, $secondary-color);
  background-image: url(../../../assets/head.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-back {
  background: url(../../../assets/back.png);
  color: $dark-color;
  transform: rotateY(180deg);
}

.card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* Experience Section */
.experience {
  padding: 50px 0;
  background: $light-color;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item {
  margin: 20px 0;
  padding: 20px;
  background: white;
  border-left: 4px solid $primary-color;
  position: relative;
  width: 80%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.timeline-item:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 20px;
  width: 20px;
  height: 20px;
  background: $primary-color;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Projects Section */
.project {
  color: white;
}

.projects {
  padding: 15px 0;
  background: $dark-color;
  color: white;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
  overflow-x: scroll;
  height: 300px;
}

.carousel::-webkit-scrollbar {
  width: 12px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #a88bc3;
  border-radius: 15px;
}

.carousel::-webkit-scrollbar-thumb:active {
  background-color: #4d3f5a;
}

.carousel-item {
  text-decoration: none;
  height: 200px;
  width: 200px;
  background: $primary-color;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: transform $transition-time ease;
}

.carousel-item:hover {
  transform: scale(1.05);
}

.carousel-item:active {
  transform: scale(0.95);
}

.carousel-content {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.project-title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.project-logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Skills Section */
.skills {
  padding: 15px 0;
  background: $light-color;
}

.skill-list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
  overflow-x: scroll;
  height: 190px;
}

.skill-list::-webkit-scrollbar {
  width: 12px;
}

.skill-list::-webkit-scrollbar-thumb {
  background-color: #a88bc3;
  border-radius: 15px;
}
.skill-list::-webkit-scrollbar-thumb:active {
  background-color: #4d3f5a;
}

.skill-item {
  background: $dark-color;
  color: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 140px;
  text-align: center;
}

/* Interests Section */
.interests {
  background-color: #957ece;
  padding: 15px;
}

.interest-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  overflow-x: scroll;
}

.interest-list::-webkit-scrollbar {
  width: 12px;
}

.interest-list::-webkit-scrollbar-thumb {
  background-color: #a88bc3;
  border-radius: 15px;
}
.interest-list::-webkit-scrollbar-thumb:active {
  background-color: #4d3f5a;
}

.interest-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:nth-child(2n) {
    flex-direction: column-reverse;
  }
}

.interest-title {
  color: #0a014e;
}

.interest-titles {
  color: #0a014e;
  font-size: 1.5em;
}

/* Contact Section */
.contact {
  padding: 5px 20px;
  background: lighten($color: $secondary-color, $amount: 10%);
  color: white;
}

.social-media-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-media-wrapper ul li {
  margin: 0 30%;
}

.social-media-wrapper ul li a {
  color: black;
}