@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Global Styles */
$primary-color: #463b98;
$secondary-color: #a88bc3;
$tertiary-color: #e1e1e1;
$light-color: #eeeeee;
$dark-color: #9b85c5;
$transition-time: 0.5s;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: $light-color;
  color: $dark-color;
}

h2 {
  user-select: none;
  text-align: center;
  font-size: 2rem;
  color: $primary-color;
  cursor: pointer;
}

.wiggly-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h2 {
    margin: 0;
    padding-bottom: 10px;
  }

  .wiggly-line-experience {
    width: 200px;
    height: 4px;
    background: none;
    position: relative;
    overflow: hidden;
  }

  .wiggly-line-experience::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, $primary-color, transparent);
    animation: wiggle 2s linear infinite;
  }

  .wiggly-line-project {
    width: 150px;
    height: 4px;
    background: none;
    position: relative;
    overflow: hidden;
  }

  .wiggly-line-project::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, $light-color, transparent);
    animation: wiggle 2s linear infinite;
  }

  .wiggly-line-skills {
    width: 267px;
    height: 4px;
    background: none;
    position: relative;
    overflow: hidden;
  }

  .wiggly-line-skills::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, $primary-color, transparent);
    animation: wiggle 2s linear infinite;
  }

  .wiggly-line-interests {
    width: 163px;
    height: 4px;
    background: none;
    position: relative;
    overflow: hidden;
  }

  .wiggly-line-interests::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, $light-color, transparent);
    animation: wiggle 2s linear infinite;
  }

  @keyframes wiggle {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Hero Section */
.hero {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, $primary-color, $secondary-color);
  color: $light-color;
  background-size: 300% 300%;
  background-repeat: no-repeat;
  animation: gradientAnimation 12s ease infinite;
}

.flipped {
  transform: rotateY(180deg);
}

.switch-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }
}

.arrow-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}


h1 {
  color: $light-color;
  text-shadow: 
    1px 1px 2px black, 
    0 0 25px rgb(116, 12, 213), 
    0 0 5px darkblue;
}

@media (max-width: 650px) {
  .card {
    max-width: 300px;
    max-height: 300px;
    min-height: 300px;
  }

  .card-front {
    background-image: url(../../../assets/css-king.png) !important;
    background-color: $primary-color;
  }
  
  h1 {
    font-size: larger;
  }
}

.card-container {
  perspective: 1000px;
}

.card {
  width: 630px;
  height: 250px;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: transform $transition-time ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card-side {
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}

.card-front {
  // background: linear-gradient(45deg, $primary-color, $secondary-color);
  background-image: url(../../../assets/head.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-back {
  background: url(../../../assets/back.png);
  color: $dark-color;
  transform: rotateY(180deg);
}

.card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/* Education Section */
.education {
  padding: 15px 0;
  background: $dark-color;
}

.degrees{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.degrees::-webkit-scrollbar {
  width: 12px;
}

.degrees::-webkit-scrollbar-thumb {
  background-color: $light-color;
  border-radius: 15px;
}

.degrees::-webkit-scrollbar-thumb:active {
  background-color: darken($color: #eeeeee, $amount: 10);
}

.degree-container {
  user-select: none;
  color: #242424;
  background-color: #f9f5e7;
  padding: 20px 60px;
  border: 8px solid grey;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  scroll-snap-align: start;
  flex-shrink: 0;
  &:hover {
    transform: scale(1.05);
    transform: rotateY('20');
  }
}

.degree-content {
  text-align: center;
  width: 330px;
}

.crest {
  width: 40px;
}

.school-name {
  font-size: 1.5em;
  font-weight: bold;
}

.faculty-name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
}

.textline {
  margin: 0;
  font-size: 0.7em;
  justify-content: center;
}

.italic {
  font-family: 'Great Vibes', cursive;
}

.student-name {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  margin: 5px 0;
}

.major {
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
}

.minor {
  margin-top: 1px;
  margin-bottom: 5px;
  font-size: 0.7em;
  font-weight: bold;
}

.degree-title {
  font-size: 1em;
  font-weight: bold;
  margin: 5px 0;
}

.dates {
  font-size: 0.9em;
  font-style: italic;
  margin: 2px 0;
}

.signatures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  p {
    font-size: 0.6em;
    text-align: center;
    line-height: 1.5;
  }

  .stamp {
    width: 50px;
  }
}

@media (max-width: 964px) {
  .degree-container {
    padding: 20px 60px;
    border: 5px solid grey;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .degree-content {
    width: 220px;
  }

  .crest {
    width: 30px;
  }

  .school-name {
    font-size: 1em;
  }

  .faculty-name {
    font-size: 0.5em;
    margin-bottom: 5px;
  }

  .textline {
    font-size: 0.2em;
  }

  .student-name {
    font-size: 0.9em;
    margin: 5px 0;
  }

  .major {
    font-size: 0.6em;
    margin-top: 5px;
  }

  .minor {
    font-size: 0.4em;
    margin-top: 1px;
  }

  .degree-title {
    font-size: 0.7em;
    margin: 1px 0;
  }

  .dates {
    font-size: 0.6em;
    margin: 1px 0;
  }

  .signatures {
    margin-top: 10px;

    p {
      font-size: 0.5em;
    }

    .stamp {
      width: 40px;
    }
  }
}


@media (max-width: 750px) {
  .degrees{
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .degree-container {
    padding: 20px 60px;
    border: 5px solid grey;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .degree-content {
    width: 220px;
  }

  .crest {
    width: 30px;
  }

  .school-name {
    font-size: 1em;
  }

  .faculty-name {
    font-size: 0.5em;
    margin-bottom: 5px;
  }

  .textline {
    font-size: 0.2em;
  }

  .student-name {
    font-size: 0.9em;
    margin: 5px 0;
  }

  .major {
    font-size: 0.6em;
    margin-top: 5px;
  }

  .minor {
    font-size: 0.4em;
    margin-top: 1px;
  }

  .degree-title {
    font-size: 0.7em;
    margin: 1px 0;
  }

  .dates {
    font-size: 0.6em;
    margin: 1px 0;
  }

  .signatures {
    margin-top: 10px;

    p {
      font-size: 0.5em;
    }

    .stamp {
      width: 40px;
    }
  }
}


/* Experience Section */
.experience {
  padding: 15px 0;
  background: $tertiary-color;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-item {
  margin: 15px 0;
  padding: 20px;
  background: $light-color;
  border-left: 4px solid $primary-color;
  position: relative;
  width: 80%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.timeline-item:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 20px;
  width: 20px;
  height: 20px;
  background: $primary-color;
  border-radius: 50%;
  box-shadow: 0 0 0 4px $light-color;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Projects Section */
.project {
  color: $light-color;
}

.projects {
  padding: 15px 0;
  background: $dark-color;
  color: $light-color;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
  overflow-x: scroll;
  height: 280px;
}

.carousel::-webkit-scrollbar {
  width: 12px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: $light-color;
  border-radius: 15px;
}

.carousel::-webkit-scrollbar-thumb:active {
  background-color: darken($color: #eeeeee, $amount: 10);
}

.carousel-item {
  user-select: none;
  text-decoration: none;
  background: $primary-color;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: all $transition-time ease;
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: thin $light-color;
}

.carousel-item:hover {
  transform: scale(1.05);
  -webkit-text-fill-color: $light-color;
}

.carousel-item:active {
  transform: scale(0.95);
}

.carousel-content {
  text-decoration: none;
  color: $light-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.project-title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.project-logo {
  user-select: none;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Skills Section */
.skills {
  padding: 15px 0;
  background: $tertiary-color;
}

.skill-list {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 15px;
  overflow-x: scroll;
  height: 190px;
}

.skill-list::-webkit-scrollbar {
  width: 12px;
}

.skill-list::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 15px;
}
.skill-list::-webkit-scrollbar-thumb:active {
  background-color: darken($color: #463b98, $amount: 10);
}

.skill-item {
  background: $dark-color;
  color: $light-color;
  padding: 20px;
  border-radius: 10px;
  min-width: 140px;
  text-align: center;
}

/* Interests Section */
.interests {
  // background-color: #957ece;
  // background-color: $primary-color;
  background-color: $dark-color;
  padding: 15px 0;
}

.interest-animation {
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.interest-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: pulse 2s infinite;
  transition: opacity 0.3s ease-in-out;
}

.interest-visual {
  display: flex;
  flex-direction: column;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.interest-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  overflow-x: scroll;
  overflow-y: visible;
  padding: 25px 15px 15px 15px;
}

.interest-list::-webkit-scrollbar {
  width: 12px;
}

.interest-list::-webkit-scrollbar-thumb {
  background-color: $light-color;
  border-radius: 15px;
}
.interest-list::-webkit-scrollbar-thumb:active {
  background-color: darken($color: #eeeeee, $amount: 10);
}

.interest-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover .interest-image {
    opacity: 0;
  }

  &:hover .interest-animation {
    opacity: 1;
  }

  &:nth-child(2n) {
    flex-direction: column-reverse;
  }
}

.interest-title {
  color: $light-color;
}

.interest-titles {
  color: $light-color;
  font-size: 1.5em;
}

/* CSS Kingdom*/


/* Contact Section */
.contact {
  padding: 5px 20px;
  background: lighten($color: $secondary-color, $amount: 10%);
  color: $light-color;
}

.social-media-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-media-wrapper ul li {
  margin: 0 30%;
}

.social-media-wrapper ul li a {
  color: black;
}

.stars-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}